@charset "UTF-8";
/*responsive css styles*/
/*E7582A 4DD66C 1a9c7d d92a26*/
.c1 {
  background: #eee !important;
}

.error_color {
  color: red !important;
}

.color {
  color: #086E80 !important;
}

.color_bg {
  background: #086E80 !important;
}

.gray {
  color: #9E9E9E !important;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

/*------------default resets*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
b,
p,
ul,
ol,
button,
.button:before,
section,
ul li,
ol li,
i,
input,
textarea,
label,
select {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  color: #404040;
}
body.lock {
  overflow-x: hidden;
  overflow-y: hidden;
}

ul,
ol,
nav,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.show_in_tablet,
.show_in_mobil {
  display: none;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  min-height: 200px;
  position: relative;
}

/*background*/
.background {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  opacity: 1;
}
.background.background.filter--1 {
  opacity: 0.1;
}
.background.background.filter--2 {
  opacity: 0.2;
}
.background.background.filter--3 {
  opacity: 0.3;
}
.background.background.filter--4 {
  opacity: 0.4;
}
.background.background.filter--5 {
  opacity: 0.5;
}
.background.background.filter--6 {
  opacity: 0.6;
}
.background.background.filter--7 {
  opacity: 0.7;
}
.background.background.filter--8 {
  opacity: 0.8;
}
.background.background.filter--9 {
  opacity: 0.9;
}
.background.background.filter--10 {
  opacity: 1;
}
.background.cubic {
  transition: 1s cubic-bezier(0, 0.85, 0.01, 0.99) 0s;
}

.hover {
  position: relative;
}
.hover:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #404040;
  left: auto;
  right: 0px;
  bottom: 0px;
  transition: width 0.3s linear 0s;
}
.hover.color:before {
  background: #086E80;
}
.hover:hover:before {
  width: 100%;
  left: 0px;
  right: auto;
}

/*rotate [animation: 4s linear 0s infinite alternate rotate] */
@-webkit-keyframes loadStep {
  0% {
    width: 0%;
    left: 0px;
  }
  40% {
    width: 100%;
    left: 0px;
    right: auto;
  }
  60% {
    width: 100%;
    left: auto;
    right: 0px;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0px;
  }
}
@keyframes loadStep {
  0% {
    width: 0%;
    left: 0px;
  }
  40% {
    width: 100%;
    left: 0px;
    right: auto;
  }
  60% {
    width: 100%;
    left: auto;
    right: 0px;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0px;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*standatr animations*/
.anim {
  opacity: 0;
  transition: 0.8s ease-out 0s;
}

.anim.anim--top {
  transform: translate(0px, -20px);
}

.anim.anim--bottom {
  transform: translate(0px, 20px);
}

.anim.anim--right {
  transform: translate(20px, 0px);
}

.anim.anim--left {
  transform: translate(-20px, 0px);
}

.anim.anim--bottom.animate,
.anim.anim--right.animate,
.anim.anim--top.animate,
.anim.anim--left.animate {
  transform: translate(0px, 0px);
}

.anim.animate {
  opacity: 1;
}

body,
.reg,
.subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.semi {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.title__bold {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.ta--l {
  text-align: left;
}

.ta--r {
  text-align: right;
}

.ta--c {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.under {
  text-decoration: underline;
}

.through {
  text-decoration: line-through;
}

.titleBox {
  display: inline-block;
  width: 100%;
  position: relative;
}

.titleBox > * {
  margin-bottom: 25px;
}
.titleBox > *:last-child {
  margin-bottom: 0px !important;
}

.subtitle {
  font-size: 20px;
  line-height: 22.5px;
}

.overtitle {
  font-size: 16px;
  line-height: 24px;
}

.large {
  font-size: 89px;
  line-height: 97px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .large {
    font-size: calc(32px + 57 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .large {
    line-height: calc(38px + 59 * ((100vw - 320px) / 1120));
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
}

h2 {
  font-size: 57px;
  line-height: 64px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h2 {
    font-size: calc(57px + 0 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h2 {
    line-height: calc(64px + 0 * ((100vw - 320px) / 1120));
  }
}

h3 {
  font-size: 35px;
  line-height: 39px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h3 {
    font-size: calc(35px + 0 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h3 {
    line-height: calc(39px + 0 * ((100vw - 320px) / 1120));
  }
}

h4 {
  font-size: 31px;
  line-height: 34px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h4 {
    font-size: calc(35px + -4 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h4 {
    line-height: calc(39px + -5 * ((100vw - 320px) / 1120));
  }
}

h5 {
  font-size: 27px;
  line-height: 30px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h5 {
    font-size: calc(27px + 0 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h5 {
    line-height: calc(30px + 0 * ((100vw - 320px) / 1120));
  }
}

h6 {
  font-size: 23px;
  line-height: 25px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h6 {
    font-size: calc(23px + 0 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  h6 {
    line-height: calc(25px + 0 * ((100vw - 320px) / 1120));
  }
}

.f27 {
  font-size: 27px;
  line-height: 37px;
}

.f22 {
  font-size: 22px;
  line-height: 24px;
}

.f20 {
  font-size: 20px;
  line-height: 26px;
}

.f19 {
  font-size: 19px;
  line-height: 24px;
}

.f18 {
  font-size: 18px;
  line-height: 22px;
}

.f16 {
  font-size: 16px;
  line-height: 22px;
}

.f12 {
  font-size: 12px;
  line-height: 16px;
}

.link {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #086E80;
  margin-top: 25px;
}

.text {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.text > * {
  margin-top: 20px;
}
.text > *:first-child {
  margin-top: 0px;
}

.green {
  display: inline-block;
  background: #086E80;
  color: #fff;
  border-radius: 12px;
  padding: 12px 20px;
}
.green.green--big {
  padding: 20px 50px;
}

/* buttons */
.forBtn {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.forBtn .button {
  margin-top: 20px;
}

.button {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #086E80;
  border-radius: 12px;
  cursor: pointer;
  padding: 0px 40px;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}
.button p,
.button span {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #086E80;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  transition: 0.3s;
  text-align: center;
}
.button svg {
  display: inline-block;
  width: 28px;
  margin-left: 12px;
}
.button svg path {
  transition: 0.3s;
  fill: #086E80;
}
.button.full {
  width: 100%;
  padding: 14px 10px;
}
.button.circle {
  width: 134px;
  height: 134px;
  border-radius: 134px;
  padding: 0;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .button.circle {
    width: calc(100px + 34 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .button.circle {
    height: calc(100px + 34 * ((100vw - 320px) / 1120));
  }
}
.button.back {
  width: 112px;
  height: 112px;
  border-radius: 134px;
  padding: 0;
  background: #086E80;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .button.back {
    width: calc(50px + 62 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .button.back {
    height: calc(50px + 62 * ((100vw - 320px) / 1120));
  }
}
.button.back p,
.button.back span {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .button.back p,
.button.back span {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .button.back p,
.button.back span {
    line-height: calc(12px + 6 * ((100vw - 320px) / 1120));
  }
}
.button:hover {
  background: #086E80;
}
.button:hover p,
.button:hover span {
  color: #fff;
}
.button:hover svg path {
  fill: #fff;
}

/*------------sections*/
.screen {
  display: none;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.screen.step .wrapp {
  padding-top: 74px;
  padding-bottom: 74px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .screen.step .wrapp {
    padding-top: calc(50px + 24 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .screen.step .wrapp {
    padding-bottom: calc(50px + 24 * ((100vw - 320px) / 1120));
  }
}
.screen.screen--full {
  height: 100vh;
  min-height: 100vh;
}
.screen.screen--full .wrapp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.screen.active {
  display: block;
}

.wrapp {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 1200px;
}

/*-------Section STEP 1-----------*/
.presentsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0px;
}
.presentsList .presentsList__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  margin: 0px 48px;
  margin-bottom: 40px;
  position: relative;
  border-radius: 124px;
}
.presentsList .presentsList__item p {
  display: inline-block;
  position: absolute;
  bottom: -40px;
}
.presentsList .presentsList__item img {
  display: block;
  max-width: 100%;
  position: relative;
  transition: 0.3s;
  transform: scale(1);
}
.presentsList .presentsList__item:hover img {
  transform: scale(1.1);
}

.boss {
  position: absolute;
  left: 0px;
  text-align: left;
}
.boss .boss__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 94px;
  height: 94px;
  position: relative;
}
.boss .boss__image img {
  display: block;
  max-width: 100%;
}
.boss .boss__image div {
  position: absolute;
  background: #EEEEEE;
  border-radius: 12px;
  padding: 9px 40px 9px 88px;
  left: 26px;
  z-index: -1;
}
.boss .boss__image div .f12 {
  margin-top: 4px;
}
.boss .f12 {
  margin-top: 20px;
}

/*-------Section STEP 2-----------*/
.step--2 .col.col--25 {
  order: 2;
  text-align: right;
}
.step--2 .col.col--25 .image {
  display: inline-block;
  width: 100%;
  max-width: 295px;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}
.step--2 .col.col--25 .image img {
  display: block;
  width: 100%;
}
.step--2 .col.col--25 p {
  padding-top: 10px;
}
.step--2 .col.col--75 {
  order: 1;
  padding-right: 2%;
}

/*inputs*/
.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.inputs.mw--550 {
  max-width: 550px;
}
.inputs.mw--450 {
  max-width: 450px;
}
.inputs.mw--450 .button {
  margin-top: 10px;
}
.inputs.mw--640 {
  max-width: 674px;
}
.inputs.mw--310 {
  max-width: 310px;
}
.inputs.mw--310 .button {
  margin-top: 10px;
}
.inputs .inputs__inner {
  display: inline-block;
  position: relative;
  margin-top: 24px;
  width: 100%;
}
.inputs .inputs__inner.col--1 {
  width: 100%;
  padding-right: 30px;
}
.inputs .inputs__inner.col--2 {
  width: 50%;
  padding-right: 30px;
}
.inputs .inputs__inner.col--3 {
  width: 33.333333%;
  padding-right: 30px;
}

/*radio + checkbox*/
.label {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}
.label.spacial {
  border: none;
  height: auto;
  margin-bottom: 100px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .label.spacial {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 1120));
  }
}
.label.spacial p,
.label.spacial span {
  padding: 0px 10px 0px 36px;
  font-size: 16px;
  line-height: 20px;
  color: #9E9E9E;
}
.label.spacial p:before,
.label.spacial span:before {
  box-sizing: border-box;
  left: 0px;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid #086E80;
  border-radius: 2px;
}
.label.spacial input[type=checkbox] + span:after,
.label.spacial input[type=checkbox] + p:after {
  width: 19px;
  height: 7px;
  left: 4px;
  border-left: 2px solid #086e80;
  border-bottom: 2px solid #086e80;
}
.label input {
  display: none;
}
.label p,
.label span {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0px 10px 0px 50px;
  font-size: 16px;
  line-height: 18px;
}
.label p:before,
.label span:before {
  content: "";
  position: absolute;
  left: 15px;
  width: 20px;
  height: 20px;
  background: #E1E1E1;
  border-radius: 20px;
}
.label p:after,
.label span:after {
  content: "";
  position: absolute;
  left: 16px;
  width: 20px;
  height: 20px;
  background: #086E80;
  border-radius: 20px;
  transition: 0.3s;
  opacity: 0;
}
.label input[type=checkbox] + span:after,
.label input[type=checkbox] + p:after {
  width: 14px;
  height: 5px;
  transform: rotate(-45deg) translate(7px, -1px);
  border-left: 2px solid #086e80;
  border-bottom: 2px solid #086e80;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0);
}
.label input[type=radio]:checked + span:after,
.label input[type=radio]:checked + p:after {
  opacity: 1;
}
.label input[type=checkbox]:checked + span:after,
.label input[type=checkbox]:checked + p:after {
  opacity: 1;
}

/*-------Section STEP 3-----------*/
.step .col.col--60 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
  order: 1;
}

.step .col.col--40 {
  order: 2;
}

.before-after {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.before-after .before-after__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 48%;
  margin: 2% 0%;
}
.before-after .before-after__inner:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 80%;
}
.before-after .before-after__inner img {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.before-after .before-after__inner .text {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  position: absolute;
  padding-left: 40%;
  padding-right: 40%;
  top: 0px;
  border-radius: 100px;
  border: 1px solid #086E80;
}
.before-after .before-after__inner .text p {
  position: absolute;
  font-size: 20px;
  line-height: 24px;
}
.before-after .before-after__inner .text:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}

/*-------Section STEP 4-----------*/
.poster {
  display: block;
  position: relative;
  width: 100%;
  max-width: 462px;
  border-radius: 15px;
  overflow: hidden;
  background: #eee;
}
.poster img.lazy {
  display: block;
  width: 60px;
  position: absolute;
  left: 30px;
  top: 30px;
}
.poster img.lazy.relative {
  display: block;
  width: auto;
  max-width: 100%;
  position: absolute;
  left: auto;
  right: 0px;
  top: 0px;
}
.poster:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 86%;
}

/*-------Section STEP 9-----------*/
.presentWrapp {
  display: none;
  width: 100%;
  text-align: center;
}
.presentWrapp.active {
  display: block;
}

.finalPresent {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 226px;
  height: 226px;
  margin: 30px 0px;
}
.finalPresent h5,
.finalPresent h6 {
  position: absolute;
  display: inline-block;
  width: auto;
  white-space: nowrap;
}
.finalPresent h5 {
  right: 120%;
}
.finalPresent h6 {
  left: 90%;
  background: #086E80;
  padding: 24px 40px 24px 60px;
  border-radius: 12px;
  z-index: 1;
}
.finalPresent .image {
  display: block;
  width: 226px;
  height: 226px;
  overflow: hidden;
  border-radius: 226px;
  position: relative;
  z-index: 2;
}
.finalPresent .image img {
  width: 100%;
  position: relative;
  transition: 0.3s;
  transform: scale(1);
}
.finalPresent .image:hover img {
  transform: scale(1.1);
}

.lastStep {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #086E80;
  border-top: 1px solid #086E80;
  border-radius: 12px 0px 0px 0px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
  width: 15%;
}
.lastStep:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.lastStep p {
  display: inline-block;
  position: absolute;
  color: #086E80;
  transition: 0.3s;
}
.lastStep p svg {
  display: inline-block;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -10px;
}
.lastStep p svg path {
  fill: #086E80;
  transition: 0.3s;
}
.lastStep:hover {
  background: #086E80;
}
.lastStep:hover p {
  color: #fff;
}
.lastStep:hover p svg path {
  fill: #fff;
}

.finalForm {
  width: 100%;
}
.finalForm .inputs {
  margin: 0 auto;
}

.hiddenBox {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #fff;
  opacity: 0.5;
  transition: 0.3s;
}
.hiddenBox.hidden {
  z-index: 0;
  opacity: 0;
}

.cant_halp {
  z-index: 2;
}

/*------------grids*/
.row {
  display: flex;
  width: 100%;
  position: relative;
}
.row.wrap {
  flex-wrap: wrap;
}
.row.ta--space {
  justify-content: space-between;
}
.row.ta--c {
  justify-content: center;
}
.row.ta--l {
  justify-content: flex-start;
}
.row.ta--r {
  justify-content: flex-end;
}
.row.va--t {
  align-items: flex-start;
}
.row.va--c {
  align-items: center;
}
.row.va--b {
  align-items: flex-end;
}
.row .col {
  display: inline-block;
  position: relative;
}
.row .col.col--10 {
  width: 10%;
}
.row .col.col--15 {
  width: 15%;
}
.row .col.col--20 {
  width: 20%;
}
.row .col.col--25 {
  width: 25%;
}
.row .col.col--30 {
  width: 30%;
}
.row .col.col--35 {
  width: 35%;
}
.row .col.col--40 {
  width: 40%;
}
.row .col.col--45 {
  width: 45%;
}
.row .col.col--50 {
  width: 50%;
}
.row .col.col--55 {
  width: 55%;
}
.row .col.col--60 {
  width: 60%;
}
.row .col.col--65 {
  width: 65%;
}
.row .col.col--70 {
  width: 70%;
}
.row .col.col--75 {
  width: 75%;
}
.row .col.col--80 {
  width: 80%;
}
.row .col.col--85 {
  width: 85%;
}
.row .col.col--90 {
  width: 90%;
}
.row .col.col--95 {
  width: 95%;
}
.row .col.col--100 {
  width: 100%;
}
.row .col.col--3 {
  width: 33.333333%;
}
.row .col.col--6 {
  width: 66.666666%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0px;
  top: 30px;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  z-index: 50;
  transition: box-shadow 0.4s ease-out 0s, background-color 0.4s ease-out 0s;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .header {
    top: calc(20px + 10 * ((100vw - 320px) / 1120));
  }
}
.header .wrapp {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px !important;
}

.header__bottom {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  width: 100%;
}

.logo {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .logo {
    width: calc(50px + 10 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .logo {
    height: calc(50px + 10 * ((100vw - 320px) / 1120));
  }
}
.logo a {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: relative;
}
.logo a img {
  display: block;
  max-width: 100%;
}

.header__links {
  text-align: right;
}
.header__links a {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  margin: 2px 0px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .header__links a {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  }
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .header__links a {
    line-height: calc(18px + 6 * ((100vw - 320px) / 1120));
  }
}
.header__links a:first-child {
  font-size: 18px;
}
@media only screen and (min-width: 10px) and (max-width: 1440px) {
  .header__links a:first-child {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
  }
}

.loadStep {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 0%;
  height: 100vh;
  background: #086E80 url(../svg/logo_white.svg) no-repeat center center;
  background-size: 100px 100px;
  z-index: 999;
}
.loadStep.start {
  -webkit-animation: loadStep 1.4s cubic-bezier(1, 0.2, 0, 0.8);
          animation: loadStep 1.4s cubic-bezier(1, 0.2, 0, 0.8);
}

/*------------footer*/
.footer {
  flex: 0 0 auto;
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  bottom: 0px;
  z-index: 3;
}
.footer .wrapp {
  padding: 0px 20px !important;
}
.footer .row {
  margin-bottom: 30px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.contacts.ta--l {
  justify-content: flex-start;
}
.contacts.ta--c {
  justify-content: center;
}
.contacts.ta--r {
  justify-content: flex-end;
}
.contacts img {
  margin-right: 25px;
}
.contacts img.icon {
  margin-right: 0px;
  margin-left: 16px;
}
.contacts .color.hover.f19.semi {
  margin-left: 25px;
}

/*------------popups*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 60;
  left: 0;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}
.popup.menu-mobil {
  z-index: 49;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(1500px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  position: relative;
}
.popup__body .close_area {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.popup__content {
  background: #fff;
  color: #000;
  padding: 40px 50px;
  max-width: 600px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transform: perspective(1500px) translate(0px, 40px) rotateX(0deg) scale(1);
  transition: all 0.6s ease 0s;
  position: relative;
}
.popup__content.open {
  opacity: 1;
  visibility: visible;
  transform: perspective(1500px) translate(0px, 0px) rotateX(0deg) scale(1);
}
.popup__content .titleBox * {
  margin-bottom: 14px;
}
.popup__content .title {
  font-size: 36px;
  line-height: 36px;
}
.popup__content .subtitle {
  font-size: 16px;
  line-height: 22px;
}
.popup__content .form {
  margin-top: 10px;
}

#thx .popup__content,
#error .popup__content {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.popup__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #000;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  z-index: 10;
}
.popup__close:before, .popup__close:after {
  content: "";
  width: 50%;
  height: 1px;
  background: #fff;
  position: inherit;
}
.popup__close:before {
  transform: rotate(45deg);
}
.popup__close:after {
  transform: rotate(-45deg);
}
.popup__close:hover {
  background: #000;
}

/*thx popup*/
#error .popup__content .button,
#thx .popup__content .button {
  margin-top: 10px;
}
#error .popup__content .ok,
#thx .popup__content .ok {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 100px;
  border: 2px solid #086E80;
  margin: 0 auto 20px auto;
}
#error .popup__content .ok img,
#thx .popup__content .ok img {
  display: block;
  position: absolute;
  width: auto;
  max-width: 100%;
  margin: 0;
}
#error .popup__content .ok:before,
#thx .popup__content .ok:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
#error .popup__content .ok:after,
#thx .popup__content .ok:after {
  content: "";
  display: block;
  position: absolute;
  width: 45%;
  height: 25%;
  border-left: 2px solid #086E80;
  border-bottom: 2px solid #086E80;
  transform: rotate(-45deg) translate(10%, -5%);
}
#error .popup__content .ok.ok--error,
#thx .popup__content .ok.ok--error {
  border: none;
}
#error .popup__content .ok.ok--error:before, #error .popup__content .ok.ok--error:after,
#thx .popup__content .ok.ok--error:before,
#thx .popup__content .ok.ok--error:after {
  content: none;
}

/*loading*/
#loading .popup__content,
#preloader .popup__content {
  padding: 0;
  border-radius: 0;
  max-width: 100%;
  background: none;
  transition: 0s;
}

/*preloader*/
#preloader {
  background: #fff;
}
#preloader .popup__content:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 100px;
  left: 15%;
  top: 15%;
}

.loader {
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100px;
  border: 1px solid #404040;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  width: 76%;
  height: 76%;
  -webkit-animation: 1s linear infinite rotate;
          animation: 1s linear infinite rotate;
}
.loader p {
  display: inline-block;
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
}
.loader img,
.loader svg {
  display: block;
  width: 40%;
  max-height: 40%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.popup__input {
  display: block;
  width: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 12px;
  padding: 0px 20px;
  height: 50px;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  transition: 0.3s;
  outline: none;
  background: inherit;
}
.popup__input.red {
  border: 1px solid red;
}
.popup__input::-moz-placeholder {
  color: #343434;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}
.popup__input:-ms-input-placeholder {
  color: #343434;
  -ms-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}
.popup__input::placeholder {
  color: #343434;
  transition: 0.3s;
  opacity: 0.5;
}
.popup__input:focus {
  border: 1px solid #086E80 !important;
}
.popup__input:focus::-moz-placeholder {
  opacity: 0;
}
.popup__input:focus:-ms-input-placeholder {
  opacity: 0;
}
.popup__input:focus::placeholder {
  opacity: 0;
}

textarea {
  min-height: 130px;
}

.popup__input:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #fff !important;
  /* Цвет фона */
  -webkit-text-fill-color: #000 !important;
  /* цвет текста */
  color: #000 !important;
  /* цвет текста */
}

/*------------------------------------------------------------------------------ 1366px*/
@media only screen and (min-width: 200px) and (max-width: 1439px) {
  .header__links a:first-child {
    font-size: 14px;
  }

  .header__links a {
    font-size: 16px;
  }

  .large {
    line-height: 70px;
    font-size: 64px;
  }

  .button.circle {
    height: 120px;
    width: 120px;
  }

  .button.back {
    height: 80px;
    width: 80px;
  }

  .titleBox > * {
    margin-bottom: 20px;
  }

  h5 {
    line-height: 26px;
    font-size: 24px;
  }

  h4 {
    line-height: 30px;
    font-size: 26px;
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .presentsList {
    margin: 30px 0px;
    margin-bottom: 70px;
  }

  .presentsList .presentsList__item {
    margin: 0px 36px;
  }

  .finalPresent {
    width: 180px !important;
    height: 180px !important;
    margin: 24px 0px;
  }

  .finalPresent .image {
    width: 180px;
    height: 180px;
  }

  .finalPresent h6 {
    padding: 20px 30px 20px 50px;
  }

  .text > * {
    margin-top: 16px;
  }

  .lastStep:before {
    padding-top: 70%;
  }

  .f27 {
    font-size: 22px;
    line-height: 30px;
  }

  .contacts img {
    margin-right: 18px;
    max-width: 24px;
    max-height: 24px;
  }

  .f19 {
    font-size: 18px;
    line-height: 22px;
  }
}
/*------------------------------------------------------------------------------ 1024px*/
@media only screen and (min-width: 200px) and (max-width: 1279px) {
  .boss .boss__image div {
    padding: 9px 20px 9px 80px;
  }

  .label span,
.label p {
    font-size: 14px;
    line-height: 16px;
  }

  .lastStep p {
    font-size: 14px;
    line-height: 14px;
  }

  .lastStep {
    width: 150px;
  }

  .footer {
    padding: 0px 20px;
  }

  .f19 {
    font-size: 16px;
    line-height: 20px;
  }

  .contacts .color.hover.f19.semi {
    margin-left: 20px;
  }
}
/*------------------------------------------------------------------------------ 768px*/
@media only screen and (min-width: 200px) and (max-width: 1023px) {
  .show_in_tablet {
    display: block !important;
  }

  .screen.screen--full .wrapp {
    padding-bottom: 70px;
    padding-top: 70px;
  }

  .screen.screen--full {
    height: auto;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .screen.active {
    display: flex;
  }

  .boss .boss__image {
    display: inline-flex;
  }

  .boss {
    position: relative;
    width: 100%;
    left: 0px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .boss .boss__image div {
    text-align: left;
  }

  .forBtn {
    margin-top: 10px;
  }

  .step.step--2 .wrapp {
    padding-top: 70px;
  }
  .step.step--2 .row .col.col--25 {
    order: 1;
    text-align: center;
    margin-bottom: 30px;
  }
  .step.step--2 .row .col.col--25,
.step.step--2 .row .col.col--75 {
    width: 100%;
  }
  .step.step--2 .col--3 {
    width: 50%;
  }

  .screen.step .inputs.mw--550,
.screen.step .inputs.mw--640 {
    max-width: 100%;
  }
  .screen.step .row .col.col--40 {
    order: 1;
    margin-bottom: 30px;
    text-align: center;
  }
  .screen.step .row .col.col--40,
.screen.step .row .col.col--60 {
    width: 100%;
  }

  .before-after {
    display: inline-flex;
    max-width: 462px;
  }

  .poster {
    display: inline-block;
  }

  .step .col.col--60,
.step .col.col--75 {
    max-width: 462px;
    margin: 0 auto;
  }

  .inputs .inputs__inner.col--1,
.inputs .inputs__inner.col--2,
.inputs .inputs__inner.col--3 {
    padding: 0px;
    width: 100%;
  }

  .inputs.mw--310,
.inputs.mw--450 {
    max-width: 100%;
  }

  .finalPresent h6 {
    padding: 10px 20px 10px 30px;
  }

  .finalPresent h6 {
    padding: 10px 20px 10px 30px;
    font-size: 20px;
  }

  .finalPresent h5 {
    right: 110%;
    font-size: 20px;
  }

  .lastStep p {
    font-size: 18px;
    line-height: 18px;
  }

  .lastStep:before {
    padding-top: 40%;
  }

  .lastStep {
    width: 230px;
    left: 50%;
    transform: translate(-50%, 0px);
    border-right: 1px solid #086e80;
    border-radius: 12px 12px 0px 0px;
  }

  .screen.screen--full.step.step--9 .wrapp {
    padding-bottom: 120px;
  }

  .f20 {
    font-size: 18px;
    line-height: 24px;
  }

  .f18 {
    font-size: 16px;
    line-height: 24px;
  }
  .f18 br {
    display: none;
  }

  .f16 {
    font-size: 14px;
    line-height: 21px;
  }
  .f16 br {
    display: none;
  }

  .finalForm {
    max-width: 462px;
    margin: 0 auto;
  }

  .label.spacial span:before,
.label.spacial p:before {
    width: 20px;
    height: 20px;
  }

  .label.spacial input[type=checkbox] + span:after,
.label.spacial input[type=checkbox] + p:after {
    width: 18px;
    height: 6px;
    left: 1px;
  }

  .footer {
    padding: 0px 0px;
  }
  .footer .col.col--3 .contacts.ta--c,
.footer .col.col--3 .contacts.ta--r {
    justify-content: flex-start !important;
  }

  .footer .row .col.col--3 {
    width: 100%;
  }

  .footer .row {
    margin-bottom: 0px;
  }
  .footer .row .col {
    margin-bottom: 24px;
  }

  .label.spacial {
    margin-bottom: 0px;
  }
}
/*------------------------------------------------------------------------------ 320px*/
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .show_in_mobil {
    display: block;
  }

  .del_in_mobil {
    display: none !important;
  }

  .large {
    line-height: 47px;
    font-size: 37px;
    margin-top: 30px;
  }

  .button p,
.button span {
    font-size: 16px;
    line-height: 20px;
  }

  .button.circle {
    height: 110px;
    width: 110px;
  }

  .screen.screen--full .wrapp {
    padding-bottom: 50px;
    padding-top: 120px;
  }

  .f22 {
    font-size: 20px;
    line-height: 28px;
  }

  h4 {
    line-height: 24px;
    font-size: 22px;
  }

  .presentsList .presentsList__item p {
    display: inline-block;
    position: relative;
    bottom: -10px;
  }

  .presentsList .presentsList__item {
    margin: 0px 36px;
    margin-bottom: 60px;
  }

  .presentsList {
    margin: 30px 0px;
    margin-bottom: 0px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .subtitle br {
    display: none;
  }

  .f20 {
    font-size: 16px;
    line-height: 22px;
  }

  .f18 {
    font-size: 15px;
    line-height: 22px;
  }

  h6 {
    font-size: 22px;
    line-height: 26px;
  }

  .inputs .inputs__inner {
    margin-top: 16px;
  }

  h5 {
    line-height: 24px;
    font-size: 20px;
  }

  .finalPresent {
    width: 100% !important;
    height: auto !important;
    margin-top: 30px;
  }

  .finalPresent h5,
.finalPresent h6 {
    position: relative;
    width: auto;
    white-space: normal;
    text-align: center;
  }

  .finalPresent .image {
    width: 100%;
    height: auto;
  }
  .finalPresent .image img {
    max-width: 180px;
  }

  .finalPresent h6 {
    left: 0%;
    margin-top: 24px;
  }

  .finalPresent h5 {
    right: 0%;
    margin-bottom: 24px;
  }

  .before-after .before-after__inner .text p {
    position: absolute;
    font-size: 16px;
    line-height: 23px;
  }

  .f27 {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .finalForm {
    margin-top: 20px;
    margin-bottom: 200px;
  }

  .footer {
    position: absolute;
    margin-top: 30px;
  }

  .label.spacial span,
.label.spacial p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }

  .footer .row .col {
    margin-bottom: 20px;
  }

  .green.green--big {
    padding: 20px 20px;
  }

  .boss .boss__image {
    margin-left: -150px;
  }
  .boss .boss__image div {
    padding: 12px 20px 12px 84px;
  }
  .boss .boss__image div p {
    font-size: 16px;
    line-height: 20px;
  }
}